* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: unset;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: none;
}

[class*="__title"]{
    color: #f2efe8;
    text-transform: uppercase;
}

[class*="__subtitle"]{
    text-transform: uppercase;
}

[class*="--transparent"] {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f2efe8;
    transition: all .5s ease-in-out;
}

.title--1 {
    color: #f2efe8;
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
}

.title--3 {
    font-size: 2.2em;
    font-weight: 400;
}

.paragraph {
    color: #f2efe8;
    font-weight: 300;
    line-height: 1.8em;
}

.paragraph + .paragraph {
    padding-top: 1em;
}

.mouse-follow--circle {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: transparent solid 3px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1;
    &.pointerHover{
        border: #000000 solid 3px;
        background-color: transparent;
        transform: scale(1.4);
        transition: border .5s ease-in-out,
                    transform .5s ease-in-out,
                    background-color .3s ease-in;
    }
}

.body {
    background-color: #2c2a2a;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: none;
}

.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title {
        font-weight: 300;
        margin-bottom: .6em;
    }
    &__subtitle {
        color: #8f8c89;
        font-weight: 300;
    }
}

.body--work,
.body--about {
    .header__wrapper {
        width: 100%;
        max-width: 64em;
        padding: 0 5em;
    }
    .nav__list {
        display: flex;
        justify-content: space-between;
    }
    .nav__list__item--link {
        color: #f2efe8;
        text-transform: uppercase;
    }
}

.main {
    min-height: 60vh;
    &__wrapper {
        height: 100%;;
    }   
}

.main__nav {
    height: 100%;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &:hover {
            .nav__list__item:not(.nav__list__item.active) {
                opacity: 0.1;
                transition: all .5s ease-in-out;
            }
        }
    }
    &__container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 60vh;
        .nav__list__item {
            min-width: 52vw;
            text-align: center;
            letter-spacing: -0.4em;
            transition: all .5s ease-in-out;
            &:hover{
                letter-spacing: 0em;
                transform: scale(1.2);
                transition: all .5s ease-in-out;
            }
        }
        .nav__list__item--link {
            color: #f2efe8;
            text-transform: uppercase;
            font-size: 9em;
            font-weight: 600;
            width: 100%;
            display: inline-block;
        }
    }
}

.main__section {
    height: 100%;
    padding: 1em 5em;
    max-width: 64em;
    margin: 0 auto;
}

.body--about .main__section {
    .section__title {
        animation: uploadCard 1s ease backwards;
        animation-delay: .1s;
    }
    .section__paragraph {
        animation: uploadCard 1s ease backwards;
        animation-delay: .4s;
    }
}

.section__title + .section__paragraph {
    padding-top: 2em;
}

.work .section__content {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    &__card:first-child {
        width: 100%;
        .card__container {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }
        .card__content {
            width: 58%;
        }
        .title--3 {
            font-size: 2.8em;
            width: 40%;
            line-height: 1.4em;
        }
    }
    &__card {
        width: 46%;
        padding: .5em;
        animation: uploadCard 1s ease backwards;
        &:nth-child(2){
            animation-delay: .1s;
        }
        &:nth-child(3){
            animation-delay: .2s;
        }
        &:nth-child(4){
            animation-delay: .3s;
        }
        &:nth-child(5){
            animation-delay: .4s;
        }
        &:nth-child(6){
            animation-delay: .5s;
        }
        .card__content {
            padding: 1em 0;
        }
        .card__header {
            color: #8f8c89;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: .5em;
            border-bottom: solid 1px;
            margin-bottom: 1em;
        }
        .title--3--transparent {
            display: block;
        }
        .list {
            flex-direction: column;
            list-style: inside;
            list-style-type: circle;
            align-items: flex-start;
            padding: 1em 0;
        }
        .list__item {
            font-weight: 300;
            line-height: 1.8em;
            color: #f2efe8;
        }
    }
}

@keyframes uploadCard {
    from {
        opacity: 0;
        transform: translateY(40%) translateZ(0);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    } 
}

.footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        &__item--link {
            font-weight: 300;
            color: #f2efe8;
        }
    }
}