* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: unset;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.body {
  background-color: #2c2a2a;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.header__title {
  font-weight: 300;
  color: #f2efe8;
  margin-bottom: 0.6em;
}
.header__subtitle {
  color: #8f8c89;
  font-weight: 300;
}

.main {
  height: 60vh;
}
.main__wrapper {
  height: 100%;
}

.main__nav {
  height: 100%;
}
.main__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100wv;
  border: solid red;
  overflow: hidden;
}
.main__nav__container .nav__list__item {
  position: relative;
  padding: 0 3.75em;
  width: 33%;
  text-align: center;
}
.main__nav__container .nav__list__item:not(.nav__list__item:first-child)::before {
  content: "";
  position: absolute;
  background-color: #f2efe8;
  height: 0.063em;
  width: 3.2em;
  top: 46%;
  left: -1.6em;
}
.main__nav__container .nav__list__item--link {
  color: #f2efe8;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 600;
}

.footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.footer__list__item--link {
  font-weight: 300;
  color: #f2efe8;
}