* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: unset;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: none;
  color: inherit;
}

[class*=__title] {
  color: #f2efe8;
  text-transform: uppercase;
}

[class*=__subtitle] {
  text-transform: uppercase;
}

[class*="--transparent"] {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f2efe8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.title--1 {
  color: #f2efe8;
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  .title--1 {
    font-size: 2em;
  }
}

.title--3 {
  font-size: 2.2em;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .title--3 {
    font-size: 1.8em;
    line-height: 1.4em;
  }
}

.paragraph {
  color: #f2efe8;
  font-weight: 300;
  line-height: 1.8em;
}

.paragraph + .paragraph {
  padding-top: 1em;
}

@media screen and (min-width: 480px) {
  .mouse-follow--circle {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: transparent solid 3px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 2;
  }
  .mouse-follow--circle.pointerHover {
    border: #000000 solid 3px;
    background-color: transparent;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: border 0.5s ease-in-out, background-color 0.3s ease-in, -webkit-transform 0.5s ease-in-out;
    transition: border 0.5s ease-in-out, background-color 0.3s ease-in, -webkit-transform 0.5s ease-in-out;
    transition: border 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.3s ease-in;
    transition: border 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.3s ease-in, -webkit-transform 0.5s ease-in-out;
  }
}
.body {
  background-color: #2c2a2a;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  cursor: none;
}

.header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header__title {
  font-weight: 300;
  margin-bottom: 0.6em;
}
.header__subtitle {
  color: #8f8c89;
  font-weight: 300;
}

.body:not(.body.body--home) .header {
  height: 20vh;
}
@media screen and (max-width: 750px) {
  .body:not(.body.body--home) .header {
    height: 10vh;
  }
}
.body:not(.body.body--home) .header__wrapper {
  width: 100%;
  max-width: 64em;
  padding: 0 5em;
}
.body:not(.body.body--home) .header__wrapper .nav__trigger {
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  right: 1em;
  top: 1em;
  background-image: url("./assets/menu--icon-open.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}
.body:not(.body.body--home) .header__wrapper .nav__trigger.open {
  background-image: url("./assets/menu--icon-close.svg");
}
@media screen and (max-width: 750px) {
  .body:not(.body.body--home) .header__wrapper {
    padding: 0 1em;
    position: relative;
    height: 100%;
  }
  .body:not(.body.body--home) .header__wrapper .nav__list__item--link {
    font-size: 3em;
  }
  .body:not(.body.body--home) .header__wrapper .nav__trigger {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .body:not(.body.body--home) .header__nav {
    position: fixed;
    height: 100vh;
    top: 5em;
    left: 0;
    right: 0;
    background-color: #2c2a2a;
    z-index: 1;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .body:not(.body.body--home) .header__nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.body:not(.body.body--home) .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .body:not(.body.body--home) .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
}
.body:not(.body.body--home) .nav__list__item--link {
  color: #f2efe8;
  text-transform: uppercase;
}

.main {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .main {
    min-height: 80vh;
  }
}
.main__wrapper {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.main__nav {
  height: 100%;
}
.main__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 1em;
}
@media screen and (max-width: 750px) {
  .main__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.main__nav__list:hover .nav__list__item:not(.nav__list__item.active) {
  opacity: 0.1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main__nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 60vh;
}
.main__nav__container .nav__list__item {
  min-width: 52vw;
  text-align: center;
  letter-spacing: -0.4em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main__nav__container .nav__list__item:hover {
  letter-spacing: 0em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main__nav__container .nav__list__item--link {
  color: #f2efe8;
  text-transform: uppercase;
  font-size: 9em;
  font-weight: 600;
  width: 100%;
  display: inline-block;
}
@media screen and (max-width: 750px) {
  .main__nav__container .nav__list__item--link {
    font-size: 4em;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1800px) {
  .main__nav__container .nav__list__item--link {
    font-size: 16em;
  }
}

.main__section {
  height: 100%;
  padding: 1em 5em;
  max-width: 64em;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .main__section {
    padding: 1em;
  }
}

.body--about .main__section .section__title {
  -webkit-animation: uploadCard 1s ease backwards;
          animation: uploadCard 1s ease backwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.body--about .main__section .section__paragraph {
  -webkit-animation: uploadCard 1s ease backwards;
          animation: uploadCard 1s ease backwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.section__content + .section__content {
  margin-top: 2em;
}

.section__title + .section__paragraph {
  padding-top: 1.2em;
}

.work .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .work .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.work .section__content__card:first-child {
  width: 100%;
}
.work .section__content__card:first-child .card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}
.work .section__content__card:first-child .title--3 {
  width: 40%;
}
@media screen and (max-width: 750px) {
  .work .section__content__card:first-child .title--3 {
    width: 100%;
  }
}
.work .section__content__card:first-child .card__content {
  width: 56%;
}
@media screen and (max-width: 750px) {
  .work .section__content__card:first-child .card__content {
    width: 100%;
  }
}
.work .section__content__card {
  width: 46%;
  padding: 0.5em;
  -webkit-animation: uploadCard 1s ease backwards;
          animation: uploadCard 1s ease backwards;
}
@media screen and (max-width: 750px) {
  .work .section__content__card {
    width: 100%;
  }
}
.work .section__content__card:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.work .section__content__card:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.work .section__content__card:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.work .section__content__card:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.work .section__content__card:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.work .section__content__card .card__content {
  padding: 1em 0;
}
.work .section__content__card .card__header {
  color: #8f8c89;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  border-bottom: solid 1px;
  margin-bottom: 1em;
}
.work .section__content__card .title--3--transparent {
  display: block;
}
.work .section__content__card .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: inside;
  list-style-type: circle;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 0;
}
.work .section__content__card .list__item {
  font-weight: 300;
  line-height: 1.8em;
  color: #f2efe8;
}

.title--3 {
  font-size: 2.8em;
  line-height: 1.4em;
}
@media screen and (max-width: 750px) {
  .title--3 {
    width: 100%;
    font-size: 1.8em;
  }
}

.body--contact .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .body--contact .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.body--contact .list__item > * {
  font-weight: 300;
  line-height: 1.8em;
  color: #f2efe8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.body--contact .envelope,
.body--contact .mobile,
.body--contact .linkedin {
  width: 1.2em;
  height: 1.2em;
}
@media screen and (max-width: 750px) {
  .body--contact .section__content {
    padding: 0 0.5em;
  }
}

.education--date {
  position: relative;
  margin-right: 0.5em;
  padding-right: 0.5em;
  font-weight: 600;
}

.education--date::after {
  content: "|";
  position: absolute;
  right: 0;
}

.education__list--item {
  border: solid 1px #f2efe8;
  padding: 0.5em 1em;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 750px) {
  .education__list--item {
    width: 100%;
  }
}

.education__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5em;
}

@-webkit-keyframes uploadCard {
  from {
    opacity: 0;
    -webkit-transform: translateY(40%) translateZ(0);
            transform: translateY(40%) translateZ(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
            transform: translateY(0) translateZ(0);
  }
}

@keyframes uploadCard {
  from {
    opacity: 0;
    -webkit-transform: translateY(40%) translateZ(0);
            transform: translateY(40%) translateZ(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
            transform: translateY(0) translateZ(0);
  }
}
.footer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  .footer {
    height: 10vh;
  }
}
.footer__wrapper {
  width: 100%;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.footer__list__item--link {
  font-weight: 300;
  color: #f2efe8;
}