@mixin flex($display, $justifyContent, $alignItems) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin mobile (){
    @media screen and (max-width: 750px) {
        @content
    }
}