$mainTextColor : #f2efe8;
$subTitleColor : #8f8c89;
$fullDarkColor : #000000;
$semiDarkColor : #2c2a2a;

$fontSizeTitle1 : 4em;
$fontSizeTitle1--mobile : 2em;
$fontSizeTitle3 : 2.8em;
$fontSizeTitle3--mobile : 1.8em;
$fontSizeTitle3--card : 2.2em;
$fontSizeTitle3--card--mobile : 1.8em;
$fontSizeBody : 1em;
$fontSizeNav : 3em;
$fontSizeNavLink : 9em;
$fontSizeNavLink--mobile : 4em;
$fontSizeNavLink--desktop : 16em;


